{% extends 'azcase_admin/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}

    <div class="container">
      <div class="row">
        <div class="center-block">
          <h2 class="text-center azcase-text-color">AZ Afterschool Program Directory Admin Dashboard</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="azcase-text-color pull-right">{{ syVerifiedCount|intcomma }} school year programs | {{ summerVerifiedCount|intcomma }} summer programs</h4>
        </div>
      </div>
      {% if verifiedCount %}
        <div class="row">
          <div class="col-md-6">
            <p class="azcase-text-color"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><strong>{{ verifiedCount }} New Programs Submitted</strong> <a class="btn btn-default" href="{% url 'verifyPrograms' %}" role="button">Verify Programs</a></p>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">Searching the Directory</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <form class="pull-left marginRightBottom4" action="{% url 'programs' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="programPage" value="1">
              <input class="btn btn-default" type="submit" value="Go to Table of All Programs">
            </form>
            <form class="pull-left marginRightBottom4" action="{% url 'users' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="userPage" value="1">
              <input class="btn btn-default" type="submit" value="Go to Table of All Users">
            </form>
            <form class="pull-left marginRightBottom4" action="{% url 'locations' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="locationPage" value="1">
              <input class="btn btn-default" type="submit" value="Go to Table of All Locations">
            </form>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
          	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchSites">Search for Programs</button>
          	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchUsers">Search for Users</button>
          	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchLocations">Search for Locations</button>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">Adding to the Directory</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           <a class="btn btn-default" href="{% url 'addPrograms' %}" role="button">Add Programs</a>
           <a class="btn btn-default" href="{% url 'addUsers' %}" role="button">Add Users</a>
           <a class="btn btn-default" href="{% url 'addLocations' %}" role="button">Add Locations</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">Handling Duplicate Records</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
           {{ siteDupsCount }} Potential Program Duplicates
           <a class="btn btn-default" href="{% url 'duplicatePrograms' %}" role="button">Program Duplicates</a>
           <br /><br />
           <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
           {{ userDupsCount }} Potential User Duplicates
           <a class="btn btn-default" href="{% url 'duplicateUsers' %}" role="button">User Duplicates</a>
           <br /><br />
           <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
           {{ locationDupsCount }} Potential Location Duplicates
           <a class="btn btn-default" href="{% url 'duplicateLocations' %}" role="button">Location Duplicates</a>
           <br />
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">Download Directory Data</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           <a class="btn btn-default" href="{% url 'downloadData' %}" role="button">Download Data</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">Communications</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           <button type="button" class="btn btn-default" data-toggle="modal" data-target="#emailUsersModal">Send Email to ALL Users</button>
           <a class="btn btn-default" href="#" role="button">Set Admin Email "From" Address (UNDER CONSTRUCTION)</a>
           <a class="btn btn-default" href="#" role="button">Edit Auto-Emails (UNDER CONSTRUCTION)</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">User Management </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           <button type="button" class="btn btn-default" data-toggle="modal" data-target="#reassignPrograms">Reassign Programs to Users</button>
           <button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchUsersAssign">Assign Other Users to Manage Data for Current User</button>
           <a class="btn btn-default" href="{% url 'registration_register' %}" role="button">Register New Administrators</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
         <h4 class="azcase-text-color">Custom Reports (UNDER CONSTRUCTION)</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
           <a class="btn btn-default" href="{% url 'customReports' %}" role="button">Generate Custom Reports</a>
           <a class="btn btn-default" href="#" role="button">Set Public Custom Report Generator Settings</a>
          </p>
        </div>
      </div>


    </div> <!-- /container -->


{% endblock %}

{% block modal_block %}
<!-- Modal for searching by site-->
<div class="modal fade" id="searchSites" tabindex="-1" role="dialog" aria-labelledby="searchSitesLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchSites">Search by Program</h4>
      </div>
      <form action="{% url 'programs' %}" method="post">
      	{% csrf_token %}
        <input type="hidden" name="programPage" value="1">
	      <div class="modal-body">
			  <div class="form-group">
			    <label for="siteName">Program Name</label>
			    <input type="text" class="form-control" name="siteName" id="siteName">
			  </div>
			  <div class="form-group">
			    <label for="siteEmail">Program Email</label>
			    <input type="email" class="form-control" name="siteEmail" id="siteEmail">
			  </div>
			  <div class="form-group">
			    <label for="sitePhone">Program Phone Number</label>
			    <input type="text" class="form-control" name="sitePhone" id="sitePhone">
			  </div>
	      </div>
	      <div class="modal-footer">
	        <input class="btn btn-primary" type="submit" value="Submit">
	      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for searching by site-->
<div class="modal fade" id="reassignPrograms" tabindex="-1" role="dialog" aria-labelledby="searchSitesLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchSites">Search for Programs</h4>
      </div>
      <form action="{% url 'reassignPrograms' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="programPage" value="1">
        <div class="modal-body">
        <div class="form-group">
          <label for="siteName">Program Name</label>
          <input type="text" class="form-control" name="siteName" id="siteName">
        </div>
        <div class="form-group">
          <label for="siteEmail">Program Email</label>
          <input type="email" class="form-control" name="siteEmail" id="siteEmail">
        </div>
        <div class="form-group">
          <label for="sitePhone">Program Phone Number</label>
          <input type="text" class="form-control" name="sitePhone" id="sitePhone">
        </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" href="{% url 'reassignPrograms' %}" role="button">View all Programs</a>
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for ajax searching by user-->
<div class="modal fade" id="searchUsers" tabindex="-1" role="dialog" aria-labelledby="searchUsersLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchUsersLabel">Search by User</h4>
      </div>
      <form action="{% url 'users' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="userPage" value="1">
        <div class="modal-body">
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="userName">
          </div>
          <div class="form-group">
            <label for="userEmail">User Email</label>
            <input type="email" class="form-control" name="userEmail" id="userEmail">
          </div>
          <div class="form-group">
            <label for="userOrgName">User Organization Name</label>
            <input type="text" class="form-control" name="userOrgName" id="userOrgName">
          </div>
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for ajax searching by user-->
<div class="modal fade" id="searchUsersAssign" tabindex="-1" role="dialog" aria-labelledby="searchUsersLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchUsersLabel">Search for Users</h4>
      </div>
      <form action="{% url 'userManagement' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="userPage" value="1">
        <div class="modal-body">
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="userName">
          </div>
          <div class="form-group">
            <label for="userEmail">User Email</label>
            <input type="email" class="form-control" name="userEmail" id="userEmail">
          </div>
          <div class="form-group">
            <label for="userOrgName">User Organization Name</label>
            <input type="text" class="form-control" name="userOrgName" id="userOrgName">
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" href="{% url 'userManagement' %}" role="button">View all Users</a>
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for ajax searching by location-->
<div class="modal fade" id="searchLocations" tabindex="-1" role="dialog" aria-labelledby="searchLocationsLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="searchLocationsLabel">Search by Location</h4>
      </div>
      <form action="{% url 'locations' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="locationPage" value="1">
        <div class="modal-body">
          <div class="form-group">
            <label for="locationName">Location Name</label>
            <input type="text" class="form-control" name="locationName" id="locationName">
          </div>
          <div class="form-group">
            <label for="locationAddress">Address</label>
            <input type="text" class="form-control" name="locationAddress" id="locationAddress">
          </div>
          <div class="form-group">
            <label for="locationCity">City</label>
            <input type="text" class="form-control" name="locationCity" id="locationCity">
          </div>
          <div class="form-group">
            <label for="locationZip">Zip Code</label>
            <input type="text" class="form-control" name="locationZip" id="locationZip">
          </div>
        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for emailing all users-->
<div class="modal fade" id="emailUsersModal" tabindex="-1" role="dialog" aria-labelledby="emailUsersTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="emailUsersTitle">Send email to ALL users</h4>
      </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="userSubject">Subject</label>
            <input type="text" class="form-control"name="userSubject" id="userSubject" />
          </div>
          <div class="form-group">
            <label for="userMessage">Message</label>
            <textarea class="form-control" rows="5" name="userMessage" id="userMessage"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input id="sendEmail" class="btn btn-primary" type="submit" value="Send">
        </div>      
    </div>
  </div>
</div>

{% endblock %}

{% block js_block %}
<script type="text/javascript">
  $().ready(new function(){
    $.ajax({
      type: 'GET',
      url:  '/updateDuplicateRecords/', 
      success: function(data){
        console.log('updated duplicate records.');          
      }
    });

    $("#sendEmail").click(function (event) {
      // check for a message
      if ($("#userMessage").val().length == 0) {
        event.preventDefault();
        alert("Please enter a message to email. Thanks!");
      } else {
        event.preventDefault();
          var subject = $("#userSubject").val();
          var message = $("#userMessage").val();
          // send all to Ajax
          sendEmailToUsers(subject, message);
          //hide modal
        $('#emailUsersModal').modal('hide');          
      }
    });

    // send email to users
    function sendEmailToUsers(subject, message) {
      $.ajax({
        type: 'GET',
        url: '/emailAllUsers?subject=' + subject + '&message=' + message,
        success: function(data){
          alert("Message Sent!");   
        },
        error: function(data){
          alert("There was a problem with your message and it was not sent. Please try again.");    
        }
      });
    }


  });
</script>
{% endblock %}


	
	

